h1 {
    font-size: 2rem;
    padding-top: 2rem;
} 

h2 {
    font-size: 1.25rem;
}

.contact-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: var(--link-color);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

div .galleryContainer {
    height: auto;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 1rem;
    margin-top: 2rem;
    width: 30vw;
}
.customPageContentLayout {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    align-items: left;
    justify-content: flex-start;
    width: 70%;
}

.customPageContentLayout p {
    font-size: 2rem;
    padding-bottom: 0rem;
    padding-top: 4rem;
    text-align: left;
}

.customPageContentLayout .customGalleryTextLayout p {
    padding-top: 0rem;
}

.customWorkPageContent {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: top;
    justify-content: flex-start;
    height: 100vh;
    width: 80%;
}

.customGalleryTextLayout {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    padding-left: .5rem;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48;
  font-size: 48px;
  color: ivar(--link-color);
  user-select: none;
}


@media (max-width: 1024px) {

p {
    font-size: 1rem;
    margin-bottom: .5rem;
    padding: 0rem;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 70vw;
}

div .galleryContainer {
    margin-right: auto;
}
.contentToggle {
    display: none;
}
.customPageContentLayout {
    display: flex;
    flex-direction: column;
    /* margin-left: auto; */
    margin-right: auto;
    padding-left: 0rem;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
}

.customPageContentLayout p {
    font-size: 1.25rem;
    padding-bottom: 2rem;
    padding-top: 0rem;
    text-align: left;
}

.customWorkPageContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
}

.customGalleryTextLayout {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    padding-left: .5rem;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
}

.mainContentLinks a {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-align: center;
}
}


@media (max-width: 380px) {
p {
    font-size: .8rem;
    margin-bottom: .5rem;
    padding: 0rem;
    text-align: left;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 70vw;
}

div .galleryContainer {
    margin-right: auto;
}
.contentToggle {
    display: none;
}

.customGalleryTextLayout {
    display: flex;
    flex-direction: row;
    font-size: .8rem;
    margin-right: auto;
    padding-left: 0rem;
    align-items: left;
    justify-content: space-around;
    width: 80vw;
}

.customPageContentLayout {
    display: flex;
    flex-direction: column;
    /* margin-left: auto; */
    margin-right: auto;
    padding-left: 0rem;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
}

.customPageContentLayout p {
    font-size: 1.1rem;
    padding-bottom: 2rem;
    padding-top: 0rem;
    text-align: left;
}

.customWorkPageContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
}
.mainContentLinks a {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-align: center;
}
}



