h1 {
    font-size: 2rem;
    padding-top: 2rem;
} 

h2 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    padding-top: 2rem;
    text-align: left;
}

div .galleryContainer {
    height: auto;
}


.customPageContentLayout {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    align-items: left;
    justify-content: flex-start;
    width: 70%;
}
.customWorkPageContent {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: top;
    justify-content: flex-start;
    height: 100vh;
    width: 80%;
}

@media (max-width: 1024px) {
p {
    padding-top: 1rem;
}
div .galleryContainer {
    margin-right: auto;
}
.contentToggle {
    display: none;
}
.customPageContentLayout {
    display: flex;
    flex-direction: column;
    /* margin-left: auto; */
    margin-right: auto;
    padding-left: 0rem;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
}
.customWorkPageContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
}
}
