
 .galleryContainer {
    align-content:flex-center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: left;
    padding-left: 2rem;
    width: auto;
}

.thumbnailButton {
    appearance: none;
    border: none;
    border-radius: .5rem;
    height: 15rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    width: 15rem;
}

.thumbnailButton img {
    border-radius: .5rem;
    height: 15rem;
    margin-bottom: .5rem;
    width: 15rem;
}

/* Phone Media Query */
@media (max-width: 1024px) {
    .galleryContainer {
        align-content:flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
        height: auto;
        padding: 0;
        width: 100%;
    }

    .thumbnailButton {
        appearance: none;
        border: none;
        border-radius: .5rem;
        height: 7.5rem;
        margin-bottom: .5rem;
        margin-left: .5rem;
        width: 7.5rem;
    }
    
    .thumbnailButton img {
        border-radius: .5rem;
        height: 7.5rem;
        margin-bottom: .5rem;
        width: 7.5rem;
    }
}

@media (max-width: 480px) {
    .galleryContainer {
        align-content:flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
        height: auto;
        padding: 0;
        width: 100%;
    }

    .thumbnailButton {
        appearance: none;
        border: none;
        border-radius: .5rem;
        height: 6rem;
        margin-bottom: 1rem;
        margin-left: .5rem;
        width: 6rem;
    }
    
    .thumbnailButton img {
        border-radius: .5rem;
        height: 6.5rem;
        margin-bottom: .5rem;
        width: 6.5rem;
    }
}


@media only screen 
  and (min-device-width: 1368px) 
  and (max-device-width: 1824px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
  
    .galleryContainer {
        margin-top: 2.5rem;
    }
}
