
.galleryContainer {
    align-content:flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: left;

    padding-left: 2rem;
    width: 40vw;
}

.thumbnailButton {
    appearance: none;
    border: none;
    border-radius: .5rem;
    height: 6rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    width: 6rem;
}

.thumbnailButton img {
    border-radius: .5rem;
    height: 6rem;
    margin-bottom: .5rem;
    width: 6rem;
}