
.galleryContainer {
    align-content:flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: left;
    margin-top: 1rem;
    padding-left: 2rem;
    width: 40vw;
}

.thumbnailButton {
    appearance: none;
    border: none;
    border-radius: .5rem;
    height: 6rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    width: 6rem;
}

.thumbnailButton img {
    border-radius: .5rem;
    height: 6rem;
    margin-bottom: .5rem;
    width: 6rem;
}

/* Targeting Asus Zenbook Pro in portrait mode */
@media only screen 
  and (width: 1280px) 
  and (height: 1706px) 
  and (orientation: portrait)
 {
    .galleryContainer {
        align-content:flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        padding-left: 2rem;
        width: 100%;
    }
 }

/* Phone Media Query */
@media (max-width: 1024px) {
    .galleryContainer {
        align-content:flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1rem;
        padding: 0;
        width: 100%;
    }

    .thumbnailButton {
        appearance: none;
        border: none;
        border-radius: .5rem;
        height: 4rem;
        margin-bottom: .5rem;
        margin-left: .5rem;
        width: 4rem;
    }
    
    .thumbnailButton img {
        border-radius: .5rem;
        height: 4rem;
        margin-bottom: .5rem;
        width: 4rem;
    }
}

@media (max-width: 400px) {
    .galleryContainer {
        align-content:flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1rem;
        padding: 0;
        width: 100%;
    }

    .thumbnailButton {
        appearance: none;
        border: none;
        border-radius: .5rem;
        height: 2.8rem;
        margin-bottom: .5rem;
        margin-left: .5rem;
        width: 2.8rem;
    }
    
    .thumbnailButton img {
        border-radius: .5rem;
        height: 2.8rem;
        margin-bottom: .5rem;
        width: 2.8rem;
    }
}

@media only screen 
  and (min-device-width: 1368px) 
  and (max-device-width: 1824px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
  
    /* .galleryContainer {
        margin-top: 2.5rem;
    } */
}
