
.galleryContainer {
    align-content:flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.thumbnailButton {
    appearance: none;
    border: none;
    height: 4rem;
    margin-left: 1rem;
    width: 4rem;
}

.thumbnailButton img {
    height: 4rem;
    margin: 0;
    width: 4rem;
}