* {
    box-sizing: border-box;
    padding: 0;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
    line-height: 150%;

  }

.about {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.rowOne {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 20vw;
  margin-right: 20vw;
  text-align: left;
}

.rowTwo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 20vw;
 
  text-align: left;
}

.rowOne video {
  position: absolute;
  top: 3rem;
  left: 16rem;
  width: 90%; 
  height: 90%;  
  object-fit: contain; 
}
/* .videoContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Maintain 16:9 aspect ratio (adjust as needed) 
  overflow: hidden; /* Hide any overflow beyond the container 
} */



