* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 1.25rem;
    
  }

  p {
    font-size: 1rem;
    line-height: 150%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  /* .about {
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
  } */