* {
    box-sizing: border-box;
    padding: 0;
  }

  h1 {
    font-size: 2rem;
    
  }

  .home p {
    font-size: 1rem;
    line-height: 150%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 40vw

  }

  .home {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    max-width: 60vw;
  }