* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  margin-top: 1rem;
}

.headerMain {
  align-items: center;
  background-image: linear-gradient(to bottom, var(--primary-gradient-color), var(--secondary-gradient-color));
  display: flex;
  flex-direction: column;
  justify-content: top;
  min-height: 15vh;
  width: 100vw;
}

.navMenu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navMenu li {
  font-size: 1rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1;
}