
a :hover{
  opacity: 90%;
}

/*site wide color constants*/
:root {
  --primary-gradient-color: #282c34;
  --secondary-gradient-color: #45494E ;
  --primary-text-color: antiquewhite;
  --background-color: #45494E;
}
 
 .App {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  display: flex;

  font-family: 'Marcellus SC', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  min-height: 100vh;

  justify-content: center;
  text-align: center;
} 

.contentContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  min-height: 60vh;
  max-width: 60vw;
  
}
